
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(167, 167, 167);
}

.navbar{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(0,0,0,0.6) !important;
}



header{
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container{
  padding-top: 20%;
  position: relative;
  z-index: 2;
}

h2 {
  font-weight: bolder;
  font-size: 20px;
}

p {
  font-size: 20px;
  text-align: justify;
}

header .container p {
  text-align: center;
  font-size: xx-large;
}

header .container h1{
  font-weight: 500;
}

header .overlay {
  position: absolute; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  z-index: 1;
}

body .my-4{
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  padding: 1%;
  
}

section .container {
  padding-top: 2%;
  border: 1px black;
} 

#fp-btn{
  margin-top: 15px;
  margin-left: 40px;
  border: 2px solid black;
  width: 50%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}









