@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body
{
    margin: 0;
    height: 100%;
}

body
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Header ---- */
header
{
    background-color: #3a3a3a;
    height: 24px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 3px;
    
}

#title
{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 15px;
}

header a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#tools
{
    margin-left: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 15px;
}

#cog
{
    background: url('images/sprites.png') no-repeat -433px -190px;
    margin-right: 5px;
    margin-top: -5px;   
}

#cog:hover
{
    background: url(images/sprites.png) no-repeat -433px -1px;
}


/* Section -----*/
section
{
    height: 100%;
    display: flex;
    background-color: #3a3a3a;
}


/* ASIDE ------*/
aside
{
    min-width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a3a;
}

#tray
{
    display: inline-block;
    background: url(images/sprites.png) no-repeat -169px -214px;
    zoom: 2;
    margin-top: 5px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    
}

#tiles
{
    display: inline-block; 
    background: url('images/sprites.png') no-repeat -217px -190px;
    zoom: 2;
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#trash
{
    display: inline-block;
    zoom: 2;
    background: url('images/sprites.png') no-repeat -458px -189px;
    width: 11px;
    height: 13px;
    margin-top: auto;
    margin-bottom: 10px;
}

/* Icon hover */
#tray:hover
{
    background: url('images/sprites.png') -169px -25px no-repeat;
}

#tiles:hover
{
    background: url('images/sprites.png') no-repeat -217px -2px;
}

#trash:hover
{
    background: url('images/sprites.png') no-repeat -458px 0;
}



/* Navigation------*/
nav
{
    min-width: 145px;
    width: 144px;
    background-color: #373737;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

}

details
{
    margin-left: 5px;
    width: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

summary
{
    border-top: solid #757070 1px;
    border-bottom: solid #757070 1px;
    width: 134px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
}

#files
{
    list-style-type: none;
    list-style-image: url('images/paper.png');
    margin-bottom: 30px;
}

.files
{
    margin-bottom: 5px;
}

#stuff
{
    list-style-type: none;
    list-style-image: url('images/fire.png');
}

.stuff
{
    margin-bottom: 5px;
}



/* Content */

#content
{
    width: 100%;
    flex-direction: column;
    display: flex;
}

#tabs
{
    background-color: rgb(0, 0, 0);

}

#tabs a
{
    box-sizing: border-box;
    padding: 10px;
    height: 35px;
    width: 165px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.icon
{
    display: inline-block;
    background: url('images/sprites.png') no-repeat -170px -310px;
    width: 11px;
    height: 12px;
    margin-right: 10px;
    margin-top: 1px;
}

.x
{
    float: right;
    background: url('images/sprites.png') no-repeat -314px -191px;
    width: 10px;
    height: 10px;
    margin-top: 2px;
}

#tabs a:link
{
    background-color: #7B7575;
}

#tabs a:visited
{
    background-color: #7B7575;
}

#tabs a:hover
{
    background-color: #161616;
}

#tabs a:active
{
    background-color: #161616;
}

#breadcrumbs
{
    background-color: #202020;
}

#breadcrumbs div
{
    margin-left: 10px;
}

#breadcrumbs a
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0575df;
}

#breadcrumbs span
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}

textarea
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


/* Footer ----*/
footer
{
    display: flex;
    justify-content: space-between;
    height: 20px;
    background-color: rgb(38, 88, 254);
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    border-top: solid rgb(255, 255, 255) 1px;
}

footer
{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

#internet{
    display: inline-block;
    background: url(images/sprites.png) no-repeat -410px -190px;
	width: 11px;
	height: 12px;
}

.hidden{
    min-width: 0;
    width: 0;
    padding: 0;
    transition: all 1s;
}
